$solid0: #000000;
$solid1: #111111;
$solid2: #222222;
$solid3: #333333;
$solid4: #444444;
$solid5: #555555;
$solid6: #666666;
$solid7: #777777;
$solid8: #888888;
$solid9: #999999;
$solidA: #aaaaaa;
$solidB: #bbbbbb;
$solidC: #cccccc;
$solidD: #dddddd;
$solidE: #eeeeee;
$solidF: #ffffff;

$alpha0: rgba(0,0,0,15 * (1 / 15));
$alpha1: rgba(0,0,0,14 * (1 / 15));
$alpha2: rgba(0,0,0,13 * (1 / 15));
$alpha3: rgba(0,0,0,12 * (1 / 15));
$alpha4: rgba(0,0,0,11 * (1 / 15));
$alpha5: rgba(0,0,0,10 * (1 / 15));
$alpha6: rgba(0,0,0,09 * (1 / 15));
$alpha7: rgba(0,0,0,08 * (1 / 15));
$alpha8: rgba(0,0,0,07 * (1 / 15));
$alpha9: rgba(0,0,0,06 * (1 / 15));
$alphaA: rgba(0,0,0,05 * (1 / 15));
$alphaB: rgba(0,0,0,04 * (1 / 15));
$alphaC: rgba(0,0,0,03 * (1 / 15));
$alphaD: rgba(0,0,0,02 * (1 / 15));
$alphaE: rgba(0,0,0,01 * (1 / 15));
$alphaF: rgba(0,0,0,00 * (1 / 15));

//.test {
//    background: $solidF;

//    &>* {
//        height: 16px;
//        margin: 8px;
//        width: 16px;
//    }

//    &>.solid0 { background: $solid0; }
//    &>.solid1 { background: $solid1; }
//    &>.solid2 { background: $solid2; }
//    &>.solid3 { background: $solid3; }
//    &>.solid4 { background: $solid4; }
//    &>.solid5 { background: $solid5; }
//    &>.solid6 { background: $solid6; }
//    &>.solid7 { background: $solid7; }
//    &>.solid8 { background: $solid8; }
//    &>.solid9 { background: $solid9; }
//    &>.solidA { background: $solidA; }
//    &>.solidB { background: $solidB; }
//    &>.solidC { background: $solidC; }
//    &>.solidD { background: $solidD; }
//    &>.solidE { background: $solidE; }
//    &>.solidF { background: $solidF; }

//    &>.alpha0 { background: $alpha0; }
//    &>.alpha1 { background: $alpha1; }
//    &>.alpha2 { background: $alpha2; }
//    &>.alpha3 { background: $alpha3; }
//    &>.alpha4 { background: $alpha4; }
//    &>.alpha5 { background: $alpha5; }
//    &>.alpha6 { background: $alpha6; }
//    &>.alpha7 { background: $alpha7; }
//    &>.alpha8 { background: $alpha8; }
//    &>.alpha9 { background: $alpha9; }
//    &>.alphaA { background: $alphaA; }
//    &>.alphaB { background: $alphaB; }
//    &>.alphaC { background: $alphaC; }
//    &>.alphaD { background: $alphaD; }
//    &>.alphaE { background: $alphaE; }
//    &>.alphaF { background: $alphaF; }
//}

$bkgd: #e7e7e7;
$fore: #fafafa;

$dark: $solid2;
$copy: $solid4;
$grey: $solid6;
$lght: $solid8;

$aDark: $alpha2;
$aCopy: $alpha4;
$aGrey: $alpha6;
$aLght: $alpha8;

$fontSize: 16px;
$fontFamily: "HelveticaNeue-UltraLight",
             "Helvetica Neue UltraLight",
             "HelveticaNeue-Light",
             "Helvetica Neue Light",
             "Helvetica Neue",
             Helvetica,
             Arial,
             "Lucida Grande",
             sans-serif;

html,
body {
    height: 100%;
}

body {
    background: $bkgd;
    font-size: $fontSize;
    font-family: $fontFamily;
}

main {
    background: $fore url('../images/background.jpg') bottom center no-repeat;
    background-size: cover;
    box-shadow: 0 0 40px 0 $aCopy;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link,
a:visited,
a { color: $grey; }
a:hover,
a.selected { color: $dark; }
a { text-decoration: none; }

//section>ul>li {
//    border-bottom: 1px solid orange;
//    &:last-child { border-bottom: none; }
//}

nav li { text-align: center; }

nav a {
    display: inline-block;
    padding: 1em 0;
    width: 100%;
}

.justify-rwd {
    font-size: 0.1px;
    text-align: justify;

    &>* {
        font-size: $fontSize;
    }

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

.flex-container {
    display: flex;
    flex-flow: column nowrap;

    &.flex-center {
        align-items: center;
        justify-content: center;
    }

    >.flex-item { flex-basis: auto; }
    >.flex-item-fixed { flex: 0 0 auto; }
    >.flex-item-flood { flex: 1 1 auto; }
}

//.flex-item {
//    flex-basis: auto;

//    &.flex-item-fixed { flex-grow: 0; flex-shrink: 0; }
//    &.flex-item-flood { flex-grow: 1; flex-shrink: 1; }
//}

.container {
    position: relative;

    &>.inner {
        overflow: hidden;
//        -webkit-overflow-scrolling: touch;
//        overflow-scrolling: touch;
        position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
    }
}

.hlist li { display: inline-block; }

.flip-container {
    height: 381px + (1px / 3px);
    perspective: 1000;
    position: relative;
    transform:
        // rotateZ(90deg)
        translateZ(0);
    width: 214.5px;

    * { transform-style: preserve-3d; }

//    &:hover>.card,
//    &.hover>.card {
//        transform: rotateY(180deg);
//    }
}

//.card,
//.front,
//.back { overflow: visible; }

.card {
    box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.3);
    height: 100%;
    position: absolute;
        top: 0;
        left: 0;
    transform: rotateY(0deg);
    transition: 0.4s;
    width: 100%;
}

.front,
.back {
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
}

.front {
    transform: translateZ(0.5px);
}

.back {
    background: rgba(255,255,255,0.2);
    box-sizing: border-box;
    padding: 46px + (2px / 3px) 24.75px;
    transform: rotateY(180deg);
}

.h-card {
    color: #ffffff;
    display: block;
    font-size: 134%;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    // line-height: 1;
    margin: 0;
    position: absolute;
        bottom: 46px + (2px / 3px);
    transform:
        rotateZ(-90deg)
        translateY(100%);
    transform-origin: left bottom 0;

    li { line-height: 0.95; }
    // span, a { letter-spacing: 1px; }
    .p-name { margin-left: 2px; }
    .protocol { letter-spacing: 0.75px; }
    a {
        color: inherit;
        font-size: percentage(1 / 1.34);
    }
}




















